img {
  display: block;
  margin: auto;
}

header img {
float: left;
  width: 15%;
}

h4 {
  font-size: 20px;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
}

li .book-item {
  width: 100%;
  margin: -900px;
}

.book-view {
  background-color: lightgray;
}

header {
  width: 90%;
  margin: 0 auto;
  padding: 5%;
  color: rgb(177, 176, 176);
  background-color: rgb(85, 83, 83);
  overflow: hidden;
}

header h1 {
  float: left;
  padding-top: 4%;
  width: 80%;
  margin: 0 auto;
  margin-left: 5%;
}

.book-view h1  {
  padding-left: 5%;
  padding-top: 5%;
  margin:  0 auto;
}

.img-container {
  margin: 0 auto;
  padding-top: 5%;
  width: 80%;
  background-color: rgb(128, 122, 122);
  border-radius: 5px 5px 0 0 ;
}

.book-info {
  background-color: rgb(85, 83, 83);
  width: 100%;
  padding: 1.5% 0 3% 0;
}

footer {
  background-color: rgb(85, 83, 83);
  overflow: hidden;
}

.icon-github, .icon-linkedin {
  padding-top: 4%;
  padding-right: 4%;
  padding-bottom: 10%;
  font-size: 25px;
  float: right;
}

